body {
	font-family: Arial;
	background-color: #fff;
}
body, a {
	color: #432300;
}

* {
	box-sizing: border-box;
}

*::selection {
	background-color: #FF8500;
}

a {
	text-decoration: none;
}

input, select {
	height: 1.5em;
	border-radius: 4px;
	border: 1px solid #432300;
}

.button {
	margin: 2em 0 0;
	padding: 9px 18px;
	border-radius: 4px;
	border-style: none;
	color: #fff;
	background-color: #FF8500;
	font-weight: bold;
	cursor: pointer;
	transition: .2s ease-in background-color;
	font-size: 15px;
}
.button + .button {
	margin-left: 10px;
}

.button:hover {
	background-color: #432300;
}

.navigation {
	background-color: #000;
	padding: 10px 2vw;
}

.navigation-content {
	display: flex;
	align-items: center;
}

.navigation-list {
	display: inline-flex;
}

.navigation-logoWrapper {
	display: flex;
	align-items: center;
	flex-basis: 200px;

}
@media (max-width: 768px) {
	.navigation-logoWrapper {
		display: none;
	}
}

.navigation-logo {
	width: 100%;
	height: auto;
	margin-right: 20px;
}

.navigation-item {
	display: flex;
	align-items: center;
}

.navigation-link {
	margin-left: 10px;
	padding: 12px 20px;
	transition: .2s ease-in background-color;
	color: #fff;
	font-weight: bold;
	border-radius: 2px;
}
.navigation-link:hover {
	background-color: #FF8500;
}

.main {
	padding: 0 2vw;
}
.main-content {
	max-width: 1040px;
	margin: auto;
	padding: 20px 0;
}


.table {
	margin-top: 2em;
	font-size: 1.1em;
}

.table-select {
	width: 200px;
	margin-left: 20px;
	font-size: 1.1em;
	text-align-last: center;
}


.menuList-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0;
}

.menuList-item + .menuList-item {
	border-top: 1px dashed #432300;
}

.menuList-label {
	flex-basis: 200px;
	margin: 0;
}
.menuList-input {
	text-align: center;
}

.orderForm-menu {
	display: flex;
	margin: 20px -10px 0;
}

.orderForm-left,
.orderForm-right {
	flex-basis: 50%;
	margin: 0 10px;
}

.orderForm-right {
	display: flex;
}

@media (max-width: 768px) {
	.orderForm-menu {
		flex-wrap: wrap;
	}

	.orderForm-left,
	.orderForm-right {
		flex-basis: 100%;
	}
}

.orderForm-button {
	display: block;
	min-width: 150px;
	height: auto;
	margin: 2em auto 0;
}


.ordersList {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;
}

.ordersList .ordersList-item {
	position: relative;
	flex-basis: calc(50% - 20px);
	margin: 15px 10px;
}

@media (max-width: 768px) {
	.ordersList .ordersList-item {
		flex-basis: 100%;
	}
}

.ordersList-timer {
	position: absolute;
	top: 15px;
	right: 15px;
	color: #fff;
	z-index: 10;
	font-size: 1.2em;
}

.ordersList-content {
	display: flex;
	margin: 0 -15px;
}

.ordersList-food, .ordersList-drinks {
	flex-basis: 50%;
	margin: 0 15px;
}



.itemBox {
	flex: 1 1 50%;
	margin-top: 20px;
	padding: 15px;
	background-color: #FFD2A0;
	border-radius: 4px;
}

.itemBox-heading {
	margin: -15px -15px 10px;
	padding: 15px;
	background-color: #432300;
	color: #fff;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
