body {
	font-family: Arial;
	background-color: #fff;
}
body, a {
	color: #432300;
}

*::selection {
	background-color: #FF8500;
}

a {
	text-decoration: none;
}

.navigation {
	background-color: #FFD2A0;
	padding: 10px 2vw;
}

.navigation-content {
	display: flex;
	align-items: center;
}

.navigation-list {
	display: inline-flex;
}

.navigation-logoWrapper {
	flex-basis: 200px;

}
@media (max-width: 768px) {
	.navigation-logoWrapper {
		display: none;
	}
}

.navigation-logo {
	width: 100%;
	height: auto;
	margin-right: 20px;
}

.navigation-item {
	display: flex;
	align-items: center;
}

.navigation-link {
	margin-left: 10px;
	padding: 12px 20px;
	transition: .2s ease-in background-color;
	font-weight: bold;
}
.navigation-link:hover {
	background-color: #FF8500;
}

.main {
	padding: 0 2vw;
}
.main-content {
	max-width: 1040px;
	margin: auto;
	padding: 20px 0;
}


.menuList-item {
	display: flex;
	align-items: center;
	margin-top: 10px;
}

.menuList-label {
	flex-basis: 200px;
	margin: 0;
}

.orderForm-menu {
	display: flex;
	margin: 0 -10px;
}

.orderForm-left,
.orderForm-right {
	flex-basis: 50%;
	margin: 0 10px;
}

.orderForm-right {
	display: flex;
}

.orderForm-button {
	min-width: 150px;
	margin-top: 20px;
	padding: 6px 12px;
	border-radius: 4px;
	color: #fff;
	background-color: #FF8500;
	border-style: none;
	font-weight: bold;
	cursor: pointer;
	transition: .2s ease-in background-color;
}
.orderForm-button:hover {
	background-color: #432300;
}

.itemBox {
	flex-basis: 100%;
	margin-top: 20px;
	padding: 15px;
	background-color: #FFD2A0;
	border-radius: 4px;
}

.itemBox-heading {
	margin-top: 0;
}
